In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [12]:
vw = pd.read_excel("C:/Users/media/Downloads/Comercialização por ano.xlsx")
vw.head()

   Year     White  Alvarinho  Loureiro  Production  Ex - Liters   Ex - Euro
0  2010  41715374    1290185   1536625    52329312     16777000    37898000
1  2011  41140002    1290780   1605230    51330358     17534847    39244460
2  2012  40243196    1300786   1786141    50224764     18462124    41872466
3  2013  41618103    1200585   1700895    51880168     19363402    43905908
4  2014  43150809    1414684   1917184    54951931     22597104    50605562